# ignore directories
/files
/bs-admin-files
/bs-admin/archive
/bs-admin/cache
/bs-admin/log
/bs-admin/db
/bs-admin/user

# ignore files
/.htaccess
/bs-admin/db/db_connect.php
/bs-admin-files/.htaccess
/bs-admin-files/files/.gitkeep
/bs-admin-files/thumbs/.gitkeep
/bs-admin/.htaccess
/bs-admin/.htpassword
/files/.gitkeep
