/files
/bs-admin-files
/bs-admin/archive
/bs-admin/cache
/bs-admin/log
/bs-admin/db
/bs-admin/user
/.htaccess
/bs-admin/db/db_connect.php
/bs-admin-files/.htaccess
/bs-admin-files/files/.gitkeep
/bs-admin-files/thumbs/.gitkeep
/bs-admin/.htaccess
/bs-admin/.htpassword

# git update-index --assume-unchanged .htaccess
# git update-index --assume-unchanged bs-admin-files/.htaccess
# git update-index --assume-unchanged bs-admin-files/files/.gitkeep
# git update-index --assume-unchanged bs-admin-files/thumbs/.gitkeep
# git update-index --assume-unchanged bs-admin/.htaccess
# git update-index --assume-unchanged bs-admin/.htpassword
# git update-index --assume-unchanged bs-admin/db/db_connect.php
# git update-index --assume-unchanged files/.gitkeep

# git update-index --no-assume-unchanged [file-name]
# git ls-files -v