@charset "UTF-8";

html, body {
	background-color: #fff;
	-moz-user-select: auto;
	-ms-user-select: auto;
	-webkit-user-select: auto;
	user-select: auto;
}
h2.article {
	margin: 0;
	padding-left: 10px;
	line-height: 33px;
	font-size: 15px;
	background-color: #8b6b3b;
	color: #fff;
}
div.list-header {
	margin: 0;
	height: 52px;
	background-color: #ececec;
}

/* tags */
table.list td.tags {
	white-space: pre-wrap !important;
	padding-left: 4px;
}
table.list td.tags span.tag {
	display: inline-flex;
	align-items: center;
	line-height: 1.2;
	padding: 4px 8px;
	margin: 4px 4px 4px 0;
	background-color: #7b7b7b;
	color: #fff;
	border-radius: 4px;
	max-width: 90%;
}
table.list td.tags span.tag .inner {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* copy */
ul.copy {
	margin: 0;
	padding: 0 120px 0 0;
	float: right;
	list-style-type: none;
	background-color: #ececec;
}
ul.copy li {
	display: inline;
	margin: 0 4px;
}
ul.copy li span {
	vertical-align: -2px;
}
ul.copy li input.number {
	width: 50px;
	height: 22px;
}
ul.copy li input.dummy {
	display: none;
}
ul.copy li input.copy-button {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	height: 35px;
	padding-left: 44px;
	width: 100px;
	border: none;
	cursor: pointer;
	background: url(../images/common/copy.png) no-repeat 27px 50%;
}
ul.copy li input.copy-button:hover {
	color: #fff;
	background: url(../images/common/copy_white.png) no-repeat 27px 50% #0689de;
}

/* #control */
div#control {
	position: relative;
	height: 35px;
	text-align: center;
}
div#control ul {
	position: absolute;
	top: 0;
	left: 20px;
}
div#control #message {
	line-height: 35px;
	font-weight: bold;
}

/* buttons */
input.register-button {
	padding: 2px 4px;
	border-top: 1px solid #bbf;
	border-right: 1px solid #204060;
	border-bottom: 1px solid #204060;
	border-left: 1px solid #bbf;
	background-color: #305070;
	color: #fff;
	cursor: pointer;
}
input.register-button:hover {
	padding: 2px 4px;
	border-top: 1px solid #bbf;
	border-right: 1px solid #204060;
	border-bottom: 1px solid #204060;
	border-left: 1px solid #bbf;
	background-color: #03c;
	color: #fff;
}
.settings-button,
.clear-button {
	display: inline-block;
	text-align: center;
	line-height: 0;
	padding: 5px;
	vertical-align: middle;
	border: 1px solid #666;
	margin-right: 3px;
}
.settings-button:hover,
.clear-button:hover {
	background-color: #555;
	border: 1px solid #666;
}

/* message */
span.message {
	color: #036;
}

div#main {
	padding: 0;
	overflow: hidden;
}
#settings {
	float: left;
	width: 320px;
	padding: 0;
	overflow: auto;
	background-color: #333;
}
#settings-inner {
	padding: 10px 12px 10px 8px;
	box-sizing: border-box;
}
#content {
	margin-left: 320px;
	overflow: auto;
	padding: 20px;
	box-sizing: border-box;
}

/* settings table */
dl.settings {
	width: 300px;
	padding-bottom: 20px;
	margin: 5px 0;
}
dl.settings dt,
dl.settings dd {
	color: #f0f0f0;
	padding: 4px 0;
	margin: 0;
	width: 100%;
}
div.flex-row {
	display: flex;
	align-items: center;
}

dl.settings dd {
	padding-left: 8px;
}
dl.settings dt {
	margin-top: 10px;
	font-weight: bold;
}
dl.settings dt:first-child {
	margin-top: 0;
}
dl.settings span.title {
	border-left: 3px solid #666;
	padding-left: 4px;
	margin-right: 4px;
	height: 16px;
	line-height: 16px;
}
/*
dl.settings td {
	min-height: 25px;
	padding-left: 6px;
}
dl.settings td.id,
dl.settings td.publication {
	padding-left: 0;
}
*/
dl.settings textarea,
dl.settings input {
	background-color: #111;
	color: #ccc;
	border-top: 1px solid #444;
	border-left: 1px solid #444;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
}
dl.settings dd textarea {
	width: 94%;
	height: 48px;
	padding: 0 2px;
}
dl.settings dd .title {
	font-weight: bold;
}
dl.settings .date {
	width: 85px;
	margin-right: 3px;
	text-align: center;
}
dl.settings .slug {
	width: 250px;
}
dl.settings .category {
	width: 219px;
	margin-right: 3px;
}
dl.settings dt.display-detail {
	padding-bottom: 0;
	padding-left: 0;
}
dl.settings dd.external-link {
	display: block;
	padding-top: 0;
	padding-left: 12px;
}
dl.settings dd.external-link.disabled {
	color: #888;
}
dl.settings dd.external-link div {
	padding: 4px 0;
}
dl.settings dd.external-link .url input {
	width: 236px;
}
dl.settings dd.external-link #external_window {
	margin-left: 0;
}
dl.settings .tag-container {
	display: flex;
	align-items: center;
}
dl.settings .tag-container .tag-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0 2px;
	width: 225px;
	min-height: 26px;
	margin-right: 3px;
	border-top: 1px solid #444;
	border-left: 1px solid #444;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	background-color: #111;
}
dl.settings .tag-container .tag-list span {
	display: inline-block;
	background-color: #fff;

	align-items: center;
	border-radius: 4px;
	color: #111;
	margin: 3px 2px;
	padding: 2px 4px;

	text-overflow: ellipsis;
	overflow: hidden;
	max-width: calc(100% - 30px);
}

/* tab tabcontrol */
ul.tabcontrol {
	display: flex;
	flex-direction: row-reverse;
	transform: rotate(-90deg);
	transform-origin: left top;
	position: fixed;
	top: 600px;
	left: 362px;
	width: 320px;
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 100;
}
ul.tabcontrol li {
	width: 50%;
	padding: 0;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
}
ul.tabcontrol li:first-child {
	border-right: 1px solid #eee;
}
ul.tabcontrol li.selected {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}
.cke_contents {
	min-height: 370px;
}
.cke_chrome {
	border-bottom: none !important;
}

ul.tabcontrol li a {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 100%;
	line-height: 30px;
	color: #aaa;
}
ul.tabcontrol li a:hover {
	color: #f60;
}
ul.tabcontrol li.selected a {
	color: #000;
}
ul.tabcontrol li.selected a:hover {
	cursor: default;
}

/* editor table */
table.editor {
	margin: 0 auto 0 50px;
	width: 90%;
}
table.editor .permalink {
	display: inline-block;
	vertical-align: top;
	margin: 10px 14px 0 -40px;
}
table.editor .permalink img {
	vertical-align: top;
}
table.editor .title {
	font-size: 20px;
	border: 1px solid #f7f7f7;
	box-sizing: border-box;
	width: 100%;
	height: 84px;
	padding: 4px 6px;
}
table.editor .title::placeholder {
	color: #bbb;
}

table.editor .title:focus {
	border: 1px solid #b7b7f7;
}

/* table.img-item */
table.img-item {
	display: table;
}
table.img-item th,
table.img-item td {
	display: table-cell;
	border: none;
}
dl.settings img {
	vertical-align: middle;
}
#title_img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	width: 120px;
	height:90px;
	border: 1px solid #888;
	text-align: center;
	margin-right: 3px;
}
table.img-item td.buttons {
	padding-left: 4px;
}
dl.settings input.radio {
	margin-right: 4px;
}
dl.settings input.radio:not(:first-child) {
	margin-left: 10px;
}
dl.settings input.checkbox {
	margin-right: 8px;
	vertical-align: -2px;
}
.wrap {
	padding: 20px;
}
span.title-result {
	margin-left: 20px;
}

/* error-message */
dl.settings .error-message {
	font-weight: bold;
}
dl.settings dd .error-message {
	margin-left: -12px;
}
