@charset "UTF-8";

h2.article {
	margin: 0;
	padding-left: 10px;
	font-size: 15px;
	background-color: #8b6b3b;
	color: #fff;
	color: #fff;
	line-height: 33px;
}
div.list-header {
	background-color: #ececec;
	margin: 0;
	height: 52px;
}
/******************************
 * button
 *
 ******************************/
input.regist-button {
	padding: 2px 4px;
	border-top: 1px solid #bbf;
	border-right: 1px solid #204060;
	border-bottom: 1px solid #204060;
	border-left: 1px solid #bbf;
	background-color: #305070;
	color: #fff;
}
input.regist-button:hover {
	padding: 2px 4px;
	border-top: 1px solid #bbf;
	border-right: 1px solid #204060;
	border-bottom: 1px solid #204060;
	border-left: 1px solid #bbf;
	background-color: #03c;
	cursor: pointer;
	color: #fff;
}
.settings-button,
.clear-button {
	display: inline-block;
	text-align: center;
	line-height: 0;
	padding: 5px;
	vertical-align: middle;
	border: 1px solid #dddddd;
}
.settings-button:hover,
.clear-button:hover {
	background-color: #eeeeee;
	border: 1px solid #dddddd;
}
/******************************
 * message
 *
 ******************************/
span.message {
	color: #003366;
}

table.form table.img-item td {
	border: none;
}
table.form img {
	vertical-align: -38%;
}
table.img-item td#title_img {
	width: 120px;
	height:90px;
	border: 1px solid #eee;
	text-align: center;
}
table.form input.radio {
	vertical-align: -13%;
	margin-right: 4px;
}
table.form input.checkbox {
	vertical-align: -13%;
	margin-right: 8px;
}

/******************************
 * EDITOR
 *
 ******************************/
div#preview {
	border-top: 3px solid #507090;
}

div.text_editor textarea {
	margin: 0;
	padding: 0px;
	width: 100%;
	height: 300px;
}
