@charset "UTF-8";

html, body {
	background-color: #444;
}
div#contents_container {
	margin: 0;
	overflow: hidden;
}
div#contents {
	overflow: hidden;
	background-color: #3a3a3a;
}
div#settings {
	overflow: auto;
}
div.main_container {
	margin: 0 8px 0 0;
	padding: 0;
	background-color: #555;
	overflow: hidden;
}

/* tab */
ul.tabcontrol {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #444;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	overflow: visible;
	height: 28px;
	min-width: 1000px;
}
ul.tabcontrol li {
	float: left;
	height: 28px;
	width: 100px;
	margin: -1px 0 0 0;
	padding: 0;
	border-top: 1px solid #444;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
	background-color: #444;
	overflow: hidden;
}
ul.tabcontrol li.view-mode {
	margin-left: 100px;
	border: none;
	height: 29px;
	width: 114px;
}
ul.tabcontrol li.view-mode span {
	padding: 6px 10px 3px;
	display: block;
	float: left;
	background-color: #555;
	border-top: 1px solid #555;
	border-right: 1px solid #666;
	border-bottom: 1px solid #555;
	cursor: pointer;
}
ul.tabcontrol li.view-mode span:last-child {
	border-right: 1px solid #555;
}
#range {
	display: none;
}
ul.tabcontrol li.selected {
	background-color: #555;
	border-top: 1px solid #555;
	border-right: 1px solid #444;
	border-bottom: 1px solid #555;
}
ul.tabcontrol li:hover:not(:last-child) {
	background-color: #555;
	border-top: 1px solid #555;
	border-right: 1px solid #444;
}
ul.tabcontrol li a:visited,
ul.tabcontrol li a {
	padding-left: 10px;
	text-shadow: -1px -1px #333;
	display: block;
	text-align: left;
	line-height: 28px;
	color: #aaa;
	text-decoration: none;
}
ul.tabcontrol li a:hover {
	text-shadow: 1px 1px #333;
	background-color: #555;
	color: #fff;
	text-decoration: none;
}
ul.tabcontrol li.selected a {
	color: #fff;
	text-shadow: -1px -1px #333;
}
ul.tabcontrol li.register {
	border: none;
	height: 26px;
	margin-left: 50px;
	padding-top: 1px;
	width: 300px;
	text-align: left;
	border-top: 1px solid #444;
	overflow: hidden;
	color: #fff;
}

/* button */
div.input-container {
	width: 140px;
	float: left;
}
span.register-button {
	display: inline-block;
	text-align: center;
	margin: 0;
	padding: 4px 0;
	width: 140px;
	background-color: #666;
	border: 1px solid #666;
	color: #fff;
	text-shadow: -1px -1px #555;
	cursor: pointer;
}
span.register-button:hover {
	background-color: #777;
	border: 1px solid #777;
	color: #fff;
	text-shadow: 1px 1px #555;
}
span.register-button img {
	vertical-align: -3px;
	margin-right: 8px;
}
div.message-container {
	float: left;
	margin-left: 10px;
}
span#message {
	display: table-cell;
	vertical-align: middle;
	height: 26px;
}

/* editor */
div.editor_container {
	clear: both;
	margin: 0;
	background-color: #555;
	padding: 7px 8px 8px 8px;
}
div#preview {
	background-color: #232323;
	background-color: #fff;
	text-align: center;
}
iframe#inline_frame,
iframe#preview_frame {
	width: 100%;
	border: none;
}
div.text_editor {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px #777 solid;
	position: relative;
}
div.text_editor textarea {
	border: none;
	margin: 0;
	padding: 0px;
	width: 100%;
	height: 300px;
}
div#config {
	margin: 0;
	padding-bottom: 5px;
	text-align: center;
	background-color: #555;
	overflow: auto;
}
div#config textarea.keywords {
	height: 40px;
}
div#config textarea.external_css,
div#config textarea.external_js {
	height: 80px;
}
div.visual_editor {
	background-color: #fff;
	border-top: 1px solid #3a3a3a;
	border-bottom: 1px solid #777;
}

/* table.form */
table.form {
	width: 100%;
	margin: 0;
	border: none;
	border-collapse: separate;
	border-spacing: 0;
}
table.form th {
	width: 18%;
	margin: 0;
	padding: 15px 20px;
	background-color: #444;
	color: #fff;
	border-top: 1px solid #555;
	border-left: none;
	border-bottom: 1px solid #444;
	border-right: 1px solid #444;
	font-weight: normal;
	text-align: left;
	text-shadow: -1px -1px #444;
}
table.form tr:first-child th {
	border-top: 1px solid #555;
}
table.form tr:last-child th {
	border-bottom: 1px solid #444;
}
table.form tr:first-child td {
	border-top: 1px solid #555;
}
table.form th.error{
	background: #fee;
}
table.form th a.button {
	text-shadow: none;
	display: block;
	padding: 0 8px;
	border-top: 1px solid #555;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	border-left: 1px solid #555;
	background: #444;
	text-align: center;
	line-height: 20px;
}
table.form td {
	padding: 5px;
	border-top: 1px solid #555;
	border-left: 1px solid #555;
	border-bottom: 1px solid #444;
	border-right: none;
	background-color: #444;
	font-weight: normal;
	text-align: left;
}
table.form td textarea,
table.form td input {
	background-color: #111;
	color: #ccc;
	border-top: 1px solid #444;
	border-left: 1px solid #444;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
}
table.form td textarea {
	height: 100px;
	padding: 5px;
	width: 100%;
}
table.form td input {
	height: 22px;
	padding: 2px 5px;
	width: 80%;
	vertical-align: middle;
}
table.form td input.template {
	width: 30%;
}
table.form a:link.button,
table.form a:visited.button,
table.form a:active.button,
table.form a.button {
	display: block;
	padding: 0 8px;
	border-top: 1px solid #555;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	border-left: 1px solid #555;
	background-color: #444;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
table.form a:hover.button {
	border-top: 1px solid #666;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	border-left: 1px solid #666;
	background-color: #555;
}

table.form th.diff {
	background-color: #889900;
	border-top: 1px solid #99aa00;
	border-bottom: 1px solid #889900;
	border-right: 1px solid #889900;
	text-shadow: -1px -1px #777;
}
table.form .settings-button,
table.form .clear-button {
	display: inline-block;
	line-height: 0;
	padding: 5px;
	border: 1px solid #555;
	vertical-align: middle;
}
table.form .settings-button:hover,
table.form .clear-button:hover {
	background-color: #555;
	border: 1px solid #666;
}

/* emulator */
div.bframe_emulator {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #3a3a3a;
	opacity: 0.7;
}
div.bframe_emulator ul {
	display: table;
	width: 300px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
div.bframe_emulator ul li {
	display: table-cell;
	width: 50px;
	text-align: center;
	vertical-align: middle;
}
div.bframe_emulator ul li:hover {
	background-color: #555555;
}
div.bframe_emulator ul li a {
	display: block;
	cursor: pointer;
	padding: 8px 0;
}
