@charset "UTF-8";

html, body {
	background-color: #3a3a3a;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 15px;
	color: #fff;
	background-color: #555;
	border-top: 1px solid #5e5e5e;
	line-height: 33px;
}
h2 span.accent {
	display: block;
	float: left;
	margin: 4px 8px 0 5px;
	width:2px;
	height:20px;
	background: #555;
	border-top: 1px solid #606060;
	border-left: 1px solid #606060;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
}
div.header {
	clear: both;
	margin: 0;
	background-color: #3a3a3a;
	height: 10px;
}
div.footer {
	clear: both;
	margin: 0;
	background-color: #3a3a3a;
	border-bottom: 1px solid #333;
	height: 10px;
}

/* tree */
div.bframe_tree_container {
	display:block;
	float:left;
	margin: 0;
	width: 15%;
}
div.splitter {
	float:left;
	margin: 0;
	width: 6px;
	background: #3a3a3a url(../images/common/splitter.gif) no-repeat center;
	border-right: #3a3a3a 2px solid;
	visibility: hidden;
}
div.bframe_splitter_pain {
	overflow: hidden;
	background-color: #fff;
}
div#filemanager_pain {
	overflow: hidden;
	background-color: #3a3a3a;
}
div#bframe_pain {
	overflow: auto;
	overflow-x: hidden;
	margin: 0;
	padding: 30px 0 0 30px;
	height: 100%;
}
div#bframe_pain ul {
	margin: 0;
	padding: 0;
}

/* upload_control */
ul.upload_control {
	margin: 0 8px 4px 0;
	padding: 0 0 0 30px;
	list-style-type: none;
	background-color: #444;
	overflow: visible;
	height: 30px;
	min-width: 400px;
}
ul.upload_control li {
	float: left;
	height: 26px;
	width: 170px;
	margin: 2px 30px 0 0;
	padding: 0;
	overflow: hidden;
}

div.input_container {
	width: 142px;
	float: left;
}
a.upload-button,
a:visited.upload-button,
a:link.upload-button,
a:active.upload-button {
	display: block;
	margin: 0;
	line-height: 24px;
	width: 140px;
	background-color: #666;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	color: #eee;
	text-align: center;
	text-decoration: none;
	text-shadow: -1px -1px #555;
}
a:hover.upload-button {
	background-color: #777;
	border-top: 1px solid #777;
	border-left: 1px solid #777;
	border-right: 1px solid #777;
	border-bottom: 1px solid #777;
	color: #fff;
	text-shadow: 1px 1px #555;
}
a.upload-button img {
	vertical-align: -4px;
	margin-right: 6px;
}
span#bframe_pain_disp_change {
	color: #fff;
}
ul.upload_control li select {
	padding: 3px 4px;
	width: 120px;
	height: 26px;
	line-height: 20px;
	vertical-align: 1px;
	background-color: #555;
	color: #f0f0f0;
	border-top: 1px solid #555;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	border-bottom: 1px solid #555;
}
ul.upload_control li option {
	padding: 5px 12px;
	border-top: 1px solid #555;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	border-bottom: 1px solid #555;
}
span.message {
	color: #204030;
}
span#bframe_pain_disp_change {
	display: block;
	line-height: 26px;
}
div.pain_container {
	margin: 0 8px 0 0;
	height: 100%;
	padding: 0;
	background-color: #444;
}
