@charset "UTF-8";

body {
	background-color: #fff;
}
div#tree_container {
	margin: 0;
}
div#tree_container_header {
	height: 18px;
	background-color: #444;
}
div#tree_box {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	overflow: auto;
}
div.bframe_tree {
	cursor:default;
	padding: 8px 0;
	background-color: #fff;
	color: #000;
}
div.bframe_tree ul {
	margin: 0;
	padding: 0 0 0 16px;
	white-space: nowrap;
}
div.bframe_tree ul.root {
	margin: 0;
	padding: 0;
}
div.bframe_tree li.tree-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
div.bframe_tree li.tree-list div.tree {
	margin:  0 20px 2px 0;
	height: 20px;
	border-top: 1px solid transparent;
}
div.bframe_tree li.tree-list div.tree:hover {
}
div.bframe_tree li.tree-list span.cut img {
	opacity: 0.5;
}
div.bframe_tree li.tree-list div.selected {
	border-top: 1px dotted #f00;
}
div.bframe_tree li.tree-list .img-border {
	position: relative;
}
div.bframe_tree li.tree-list .img-border .node-status {
	position: absolute;
	top: 0;
	left: 0;
}
div.bframe_tree li.tree-list img {
	vertical-align: -30%;
	margin-right: 2px;
}
div.bframe_tree li.tree-list span.node-name {
	padding: 2px 5px;
	font-size: 12px;
}
div.bframe_tree li.tree-list span.edit input {
	margin: 0;
	padding: 2px 4px;
	font-size: 12px;
	width: 100px;
	border-top: 1px solid #888;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #888;
	background-color: #fafafa;
}
div.bframe_tree a:link {
	text-decoration: none;
}
div.bframe_tree a:visited {
	color: #000;
	text-decoration: none;
}
div.bframe_tree a:active {
	color: #000;
	text-decoration: none;
}
div.bframe_tree a:hover {
	color: #000;
	text-decoration: none;
}

/* pane thumb */
div.thumbs {
	overflow: hidden;
	padding: 0;
	margin: 0;
}
div.thumbs li.tree-list div.tree {
	margin: 0;
	border-left: 1px solid transparent;
	width: 120px;
}
div.thumbs li.tree-list div.tree a {
	position: relative;
	display: block;
	width: 110px;
}
div.thumbs li.tree-list span.cut img {
	opacity: 0.5;
}
div.thumbs li.tree-list div.selected {
	border-left: 1px dotted #f00;
}
div.thumbs li.tree-list span.selected input,
div.thumbs li.tree-list span.edit input {
	height: 12px;
	font-size: 12px;
	ime-mode: disabled;
	text-align: center;
	width: 102px;
	padding: 5px 4px 4px 6px;
	border: none;
	background-color: #fafafa;
}
div.thumbs li.tree-list span.node-name {
	display: block;
	margin: 0 auto;
	line-height: 19px;
	font-size: 12px;
}
div.bframe_pane a:link {
	text-decoration: none;
}
div.bframe_pane a:visited {
	color: #fff;
	text-decoration: none;
}
div.bframe_pane a:active {
	color: #fff;
	text-decoration: none;
}
div.bframe_pane a:hover {
	color: #fff;
	text-decoration: none;
}
div.thumbs li.tree-list {
	margin: 4px auto;
	padding: 0;
	height: 150px;
	list-style: none;
	float: left;
}
div.thumbs div {
	text-align: center;
}
div.thumbs .img-border {
	position: relative;
}
div.thumbs .img-border .node-status {
	position: absolute;
	bottom: 7px;
	left: 7px;
}
div.thumbs .private-mode {
	position: absolute;
	display: block;
	top: 1px;
	left: 1px;
	width: 108px;
	height: 108px;
	background-color: #444;
	opacity: 0.3;
	border: none;
}
div.thumbs .private-mode .private-msg {
	display: block;
	margin-top: 36px;
	color: #fff;
}
div.thumbs .private-mode .private-img {
	margin-top: 2px;
}
div.thumbs img {
	margin: 0;
}
div.thumbs input {
	height: 12px;
	font-size: 12px;
	ime-mode: disabled;
	text-align: center;
	width: 102px;
	padding: 4px 0;
	border: none;
	background-color: #fafafa;

}
span.current {
	background-color: #22a8f6 !important;
	color: #fff !important;
	z-index: 100;
	position: relative;
}
span.selected {
	background-color: #ece9d8 !important;
	color: #333 !important;
	z-index: 100;
	position: relative;
}
div.thumbs img.control {
	display: none;
}

/* pane detail */
div.detail table {
	margin: 0 20px 20px 20px;
	border-collapse: separate;
	border-spacing: 16px 0;
}
div.detail table th {
	text-align: left;
	font-weight: normal;
	height: 30px;
	padding-left: 4px;
}
div.detail table th span {
	display: block;
	line-height: 22px;
	padding-left: 8px;
	margin: 0;
	border-bottom: 1px solid #fff;
	color: #fff;
}
div.detail table th.sortable {
	cursor: pointer;
}
div.detail table th.sortable span {
	background: url(../images/common/sort.png) no-repeat 100% center transparent;
	padding-right: 16px;
}
div.detail table th.asc span {
	background: url(../images/common/sort_asc.png) no-repeat 100% center transparent;
}
div.detail table th.desc span {
	background: url(../images/common/sort_desc.png) no-repeat 100% center transparent;
}
div.detail table th.sortable:hover span {
	color: #ccc;
}
div.detail table .file-name {
	min-width: 240px;
}
div.detail table .update-time {
	min-width: 145px;
}
div.detail table .update-time span {
	padding-left: 8px;
}
div.detail table .file-size {
	min-width: 125px;
}
div.detail table .file-size span {
	padding-left: 8px;
}
div.detail table .image-size {
	min-width: 125px;
}
div.detail table .image-size span {
	padding-left: 8px;
}
div.detail table td {
	box-sizing: border-box;
	height: 30px;
	white-space: nowrap;
	color: #fff;
	padding-left: 4px;
	position: relative;
}
div.detail table div.tree {
	margin: 0;
	padding: 0 0 0 7px;
}
div.detail table div.selected {
	border-top: 1px dotted #f00;
}

div.detail table td span.update-datetime {
	padding-left: 4px;
}
div.detail table td.file-size {
	text-align: right;
}
div.detail table td span.file-size {
	padding-right: 25px;
}
div.detail table td.image-size {
	text-align: center;
	padding-right: 18px;
}
div.detail table td img {
	vertical-align: -25%;
	margin-right: 2px;
}
div.detail table td span.cut img {
	opacity: 0.5;
}
div.detail table td span.img-border {
	display: inline-block;
	padding: 2px 0;
	position: relative;
}
div.detail table td span.img-border .node-status {
	position: absolute;
	bottom: 4px;
	left: 0;
}
div.detail table td span.node-name {
	display: inline;
	padding: 2px 4px 1px 4px;
	font-size: 12px;
	height: 14px;
}
div.detail table td span.selected {
	background-color: #aaa;
	color: #fff;
}
div.detail a:link {
	text-decoration: none;
}
div.detail a:visited {
	color: #fff;
	text-decoration: none;
}
div.detail a:active {
	color: #fff;
	text-decoration: none;
}
div.detail a:hover {
	color: #fff;
	text-decoration: none;
}
