@charset "UTF-8";

html, body {
	background-color: #fff;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 15px;
	color: #fff;
	background-color: #555;
	border-top: 1px solid #666;
	border-bottom: 1px solid #333;
	line-height: 30px;
}
h2 span.accent {
	display: block;
	float: left;
	margin: 4px 8px 0 5px;
	width:2px;
	height:20px;
	background: #555;
	border-top: 1px solid #606060;
	border-left: 1px solid #606060;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
}
h2 span {
	font-size: 11px;
	font-weight: normal;
	margin-left: 10px;
	line-height: 24px;
}
div.header {
	clear: both;
	margin: 0;
	background-color: #3a3a3a;
	border-top: 1px solid #404040;
	height: 10px;
}
div.footer {
	clear: both;
	margin: 0;
	background-color: #3a3a3a;
	border-bottom: 1px solid #333;
	height: 10px;
}
div.bframe_tree_container {
	display:block;
	float:left;
	margin: 0;
	width: 320px;
}
div.splitter {
	float:left;
	margin: 0;
	width: 6px;
	background: #3a3a3a url(../images/common/splitter.gif) no-repeat center;
	border-right: #3a3a3a 2px solid;
	visibility: hidden;
}
div.bframe_splitter_pane {
	overflow: hidden;
	background-color: #fff;
}
div#resource_pane {
	overflow: hidden;
	background-color: #3a3a3a;
}
div.upload_control {
	margin: 0;
}
div.upload_control {
	margin: 0;
}
div#bframe_pane {
	overflow: auto;
	overflow-x: hidden;
	margin: 0;
	height: 100%;
}
div#bframe_pane ul {
	margin: 0;
	padding: 10px 2px 10px 30px;
}

/* upload control */
ul.upload_control {
	margin: 0 8px 4px 0;
	padding: 0 0 0 20px;
	list-style-type: none;
	background-color: #444;
	border-top: 1px solid #505050;
	border-bottom: 1px solid #3a3a3a;
	overflow: visible;
	height: 30px;
	min-width: 400px;
}
ul.upload_control li {
	float: left;
	height: 24px;
	width: 170px;
	margin: 3px 0 0 0;
	padding: 0;
	overflow: hidden;
}
div.input_container {
	border-top: 1px solid #222;
	border-left: 1px solid #222;
	border-right: 1px solid #606060;
	border-bottom: 1px solid #606060;
	width: 142px;
	float: left;
}
a.upload-button,
a:visited.upload-button,
a:link.upload-button,
a:active.upload-button {
	display: block;
	margin: 0;
	height: 20px;
	line-height: 20px;
	width: 140px;
	background-color: #666;
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	color: #eee;
	text-align: center;
	text-decoration: none;
	text-shadow: -1px -1px #333;
}
a:hover.upload-button {
	border-top: 1px solid #aaa;
	border-right: 1px solid #222;
	border-bottom: 1px solid #222;
	border-left: 1px solid #aaa;
	background-color: #888;
	color: #fff;
	text-shadow: 1px 1px #333;
}
span#bframe_pane_disp_change {
	color: #fff;
}
ul.upload_control li select {
	padding: 3px 4px;
	width: 120px;
	height: 24px;
	line-height: 20px;
	background-color: #555;
	color: #f0f0f0;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
}
ul.upload_control li option {
	padding: 5px 12px;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
}
span.message {
	color: #204030;
}
span#bframe_pane_disp_change {
	display: block;
	line-height: 24px;
}
div.pane_container {
	margin: 0 8px 0 0;
	height: 100%;
	padding: 18px 0 0 10px;
	background-color: #444;
	border-top: 1px solid #505050;
}
div.bframe_pane_container {
	overflow: auto;
	background-color: #444;
	margin: 0 8px 0 0;
}
table.pane {
	height: 100%;
	width: 100%;
	border-collapse: collapse;
}
table.pane td.left {
	vertical-align: top;
	width: 50%;
	padding: 0;
	border-right: 5px solid #3a3a3a;
}
table.pane td.right {
	vertical-align: top;
	width: 50%;
	padding: 0;
	border-left: 5px solid #3a3a3a;
}
div#bframe_pane_left,
div#bframe_pane_right {
	height: 100%;
	margin: 0;
	padding: 0;
}
div#bframe_pane_left_detail,
div#bframe_pane_right_detail {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 50%;
	float: left;
}
div.bframe_pane_contents_container {
	background-color: #3a3a3a;
}
div#bframe_pane_left_detail .bframe_thumbs_container {
	border-right: 3px solid #3a3a3a;
	overflow: auto;
	padding: 0 8px;
}
div#bframe_pane_right_detail .bframe_thumbs_container {
	border-left: 2px solid #3a3a3a;
	overflow: auto;
	padding: 0 8px;
}
div.thumbs {
	width: 100%;
	padding-top: 20px;
}
div.thumbs ul {
	overflow: hidden;
	margin: 0;
}
div.detail {
	width: 100%;
	padding-top: 20px;
}
div.thumbs ul {
	overflow: hidden;
	margin: 0;
}
span.diff-left img {
	border-bottom: 3px solid #c00;
}
span.diff-right img {
	border-bottom: 3px solid #00c;
}
