@charset "UTF-8";

div#tree_container {
	margin: 0;
}
div#tree_container_header {
	height: 18px;
	background-color: #444;
}
div#tree_box {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	overflow: auto;
}
div.bframe_tree {
	cursor:default;
	padding: 8px 0;
	background-color: #fff;
	color: #000;
}
div.bframe_tree ul {
	margin: 0;
	padding: 0 0 0 16px;
	white-space: nowrap;
}
div.bframe_tree ul.root {
	margin: 0;
	padding: 0;
}
div.bframe_tree li.tree-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
div.bframe_tree li.tree-list div.tree {
	margin:  0 20px 2px 0;
	height: 20px;
	border-top: 1px solid transparent;
}
div.bframe_tree li.tree-list div.tree:hover {
}
div.bframe_tree li.tree-list div.selected {
	border-top: 1px dotted #f00;
}
div.bframe_tree li.tree-list img {
	vertical-align: -30%;
	margin-right: 2px;
}
div.bframe_tree li.tree-list span.node-name {
	padding: 2px 5px;
	font-size: 12px;
}
div.bframe_tree li.tree-list span.edit input {
	margin: 0;
	padding: 2px 4px;
	font-size: 12px;
	width: 100px;
	border-top: 1px solid #888;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #888;
	background-color: #fafafa;
}
div.bframe_tree a:link {
	text-decoration: none;
}
div.bframe_tree a:visited {
	color: #000;
	text-decoration: none;
}
div.bframe_tree a:active {
	color: #000;
	text-decoration: none;
}
div.bframe_tree a:hover {
	color: #000;
	text-decoration: none;
}

/* pain thumb */
div.thumbs li.tree-list div.tree {
	margin: 0;
	border-left: 1px solid transparent;
	width: 120px;
}
div.thumbs li.tree-list div.selected {
	border-left: 1px dotted #f00;
}
div.thumbs li.tree-list span.selected input,
div.thumbs li.tree-list span.edit input {
	height: 12px;
	font-size: 12px;
	ime-mode: disabled;
	text-align: center;
	width: 102px;
	margin: 1px auto;
	padding: 5px 4px 3px 6px;
	border-top: 1px solid #333;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
	border-left: 1px solid #333;
	background-color: #fafafa;
}
div.thumbs li.tree-list span.node-name {
	display: block;
	margin: 2px auto;
	padding: 4px 4px 1px 4px;
	font-size: 12px;
}
div.bframe_pain a:link {
	text-decoration: none;
}
div.bframe_pain a:visited {
	color: #fff;
	text-decoration: none;
}
div.bframe_pain a:active {
	color: #fff;
	text-decoration: none;
}
div.bframe_pain a:hover {
	color: #fff;
	text-decoration: none;
}
div.thumbs li.tree-list {
	margin: 4px auto;
	padding: 0;
	height: 150px;
	list-style: none;
	float: left;
}
div.thumbs div {
	text-align: center;
}
div.thumbs img {
	margin: 0;
}
div.thumbs input {
	height: 12px;
	_height: 18px;
	padding: 1px 0;
	font-size: 12px;
}
span.current {
	background-color: #22a8f6 !important;
	color: #fff !important;
	z-index: 100;
	position: relative;
}
span.selected {
	background-color: #ece9d8 !important;
	color: #333 !important;
	z-index: 100;
	position: relative;
}
div.thumbs img.control {
	display: none;
}

/* pain detail */
div.detail table {
	margin: 0 20px 20px 20px;
}
div.detail table div.tree {
	margin: 0;
	padding: 5px 4px 1px 4px;
	border-top: 1px solid #444;
	width: 100%;
}
div.detail table div.selected {
	border-top: 1px dotted #f00;
}
div.detail table th {
	text-align: left;
	font-weight: normal;
	height: 30px;
}
div.detail table th span {
	display: block;
	line-height: 22px;
	padding-left: 8px;
	margin: 0 18px 6px 0;
	border-bottom: 1px solid #fff;
	color: #fff;
}
div.detail table th.file-name {
	min-width: 240px;
}
div.detail table th.update-time {
	min-width: 125px;
}
div.detail table th.update-time span {
	padding-left: 8px;
}
div.detail table th.file-size {
	min-width: 100px;
}
div.detail table th.file-size span {
	padding-left: 4px;
}
div.detail table th.image-size {
	min-width: 100px;
}
div.detail table th.image-size span {
	padding-left: 4px;
}
div.detail table td {
	height: 20px;
	white-space: nowrap;
	color: #fff;
	padding-left: 4px;
}
div.detail table td span.update-datetime {
	padding-left: 4px;
}
div.detail table td.file-size {
	text-align: right;
}
div.detail table td span.file-size {
	padding-right: 25px;
}
div.detail table td.image-size {
	text-align: center;
	padding-right: 18px;
}
div.detail table td img {
	vertical-align: -30%;
	margin-right: 2px;
}
div.detail table td span.node-name {
	display: inline;
	padding: 2px 4px 1px 4px;
	font-size: 12px;
}
div.detail table td span.selected {
	background-color: #aaa;
	color: #fff;
}
div.detail a:link {
	text-decoration: none;
}
div.detail a:visited {
	color: #fff;
	text-decoration: none;
}
div.detail a:active {
	color: #fff;
	text-decoration: none;
}
div.detail a:hover {
	color: #fff;
	text-decoration: none;
}
