@charset "UTF-8";

html, 
body {
	margin: 0;
	padding: 0;
	width: 100%;
	font: 12px/1.4em Helvetica, Arial, sans-serif;
}

/******************************
 * upload_container
 *
 ******************************/
div#upload_container_header {
	height: 18px;
	background-color: #444444;
}
div#upload_content {
	border: 1px solid #ccc;
	padding: 16px;
	overflow: auto;
}
#selectButton {
	background: url(../images/common/file_select.png) no-repeat 26px center #444444;
	color: #fff;
	padding: 8px 25px 8px 45px;
	border: none;
	cursor: pointer;
}
#selectButton:hover {
	background-color: #666;
}

#cancelButton {
	background-color: #eee;
	padding: 4px 10px;
	border: none;
}

p {
	margin-top: .25em;
	margin-bottom: .5em;
}

#divStatus {
	margin: 14px 0 12px 4px;
}
fieldset {
	padding: 15px 5px;
	margin: 0 0 20px 0;
}
legend {
	font: 700 14px Arial, Helvetica, sans-serif;
	color: #444444;
}

.progressWrapper {
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	background-color: #eee;
	border-top: solid 1px #f0f0f0;
	border-bottom: solid 1px #ddd;
}

/* Complete */
.blue {
	background-color: #ccc;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #bbb;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #444;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: #22a8f6;
	border-bottom: #1298e6 1px solid;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}
a.progressCancel {
	font-size: 0;
	display: block;
	height: 12px;
	width: 12px;
	background-image: url(../images/common/blank.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	float: right;
}
a.progressCancel:hover {
	background-position: 0px 0px;
}

/******************************
 * dialog
 *
 ******************************/
#confirmDialog {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100000;
}

#confirmDialog .box {
    border: 1px solid #666;
    padding: 4px 4px 25px 4px;
	background: url(../images/common/warning_big.png) 70px 26px no-repeat #fff;
	overflow: hidden;
}
#confirmDialog .container {
    margin: 0 auto;
    width:  380px;
    top:35%;
    position:relative;
	box-shadow: 4px 5px 8px -2px rgba(0,0,0,0.3), 0 2px 20px -7px rgba(0,0,0,0.4);
}
#confirmDialog .containerHeader {
	background-color: #505050;
	height: 15px;
}
#confirmDialog .buttons {
	margin: 0 auto;
	text-align: center;
}
#confirmDialog a.button {
	padding: 5px 14px;
	margin: 0 4px;
	line-height: 17px;
	border-top: 1px solid #fff;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	border-left: 1px solid #fff;
	border-radius: 2px;
	background-color: #fff;
	background: url(../images/common/button_back.png) repeat-x;
	overflow: visible;
	vertical-align: middle;
	display: inline;
	width: 30px;
	cursor: pointer;
}
#confirmDialog a.button:hover {
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	cursor: pointer;
	background-position: 0 -27px;
}
#confirmDialog .message {
	padding: 15px 25px 30px 110px;
	line-height: 20px;
}
