@charset "UTF-8";

h2.version {
	margin: 0;
	padding-left: 10px;
	font-size: 15px;
	background-color: #5c6c7c;
	color: #fff;
	color: #fff;
	line-height: 33px;
}
h2.version span {
	font-size: 11px;
	font-weight: normal;
	margin-left: 10px;
	line-height: 24px;
}

div.list-header {
	background-color: #ececec;
	margin: 0;
	height: 52px;
}

/******************************
 * VERSION_CONTROL
 *
 ******************************/
#VERSION_CONTROL {
	margin: 30px 0 0 0;
	padding: 0;
	text-align: center;
}
ul.version_control {
	margin: 0;
	padding:2px 0 0 0;
	list-style-type: none;
}
ul.version_control li {
	display: inline;
	margin: 0;
	padding: 0;
}
div.contents {
	margin: 40px auto 60px;
	width: 400px;
}
div.info {
	padding-left:90px;
	line-height: 24px;
}

/******************************
 * button
 *
 ******************************/
input.version-button {
	padding: 10px 0;
	line-height: 17px;
	background-color: #205380;
	color: #fff;
	width: 180px;
	overflow: visible;
	vertical-align: 10%;
	cursor: pointer;
	border: none;
}
input.version-button:hover {
	background-color: #306390;
}

input.regist-button {
	padding: 10px 0;
	line-height: 17px;
	background: url(../images/common/right-arrow-white.png) 95% center no-repeat #205380;
	color: #fff;
	width: 150px;
	overflow: visible;
	vertical-align: 10%;
	cursor: pointer;
	border: none;
}
input.regist-button:hover {
	background-color: #306390;
}

input.cancel-button {
	padding: 10px 0;
	line-height: 17px;
	background: url(../images/common/left-arrow-white.png) 5% center no-repeat #205380;
	color: #fff;
	width: 150px;
	overflow: visible;
	vertical-align: 10%;
	cursor: pointer;
	border: none;
}
input.cancel-button:hover {
	background-color: #306390;
}

/******************************
 * message
 *
 ******************************/
span.message {
	color: #003366;
}

/******************************
 * text_editor
 *
 ******************************/
div.text_editor {
	border-top: 3px solid #507090;
	width: 99%;
	margin: 0;
	border-top: 4px solid #507090;
	border-right: 2px solid #507090;
	border-left: 1px solid #507090;
	border-bottom: 1px solid #507090;
	width: 99%;

}
div.text_editor textarea {
	border: none;
	margin: 0;
	padding: 0px;
	width: 100%;
	height: 300px;
}
