@charset "UTF-8";

html, body {
	background-color: #fff;
	-moz-user-select: auto;
	-ms-user-select: auto;
	-webkit-user-select: auto;
	user-select: auto;
}
h2.version {
	margin: 0;
	padding-left: 10px;
	font-size: 15px;
	background-color: #5c6c7c;
	color: #fff;
	line-height: 33px;
}
h2.version span {
	margin-left: 10px;
	font-size: 11px;
	font-weight: normal;
	line-height: 24px;
}

div.list-header {
	margin: 0;
	height: 52px;
	background-color: #ececec;
}

/* version-control */
#version-control {
	margin: 30px 0 0 0;
	padding: 0;
	text-align: center;
}
#version-control ul {
	margin: 0;
	padding:2px 0 0 0;
	list-style-type: none;
}
#version-control ul li {
	display: inline;
	margin: 0;
	padding: 0;
}
div.contents {
	margin: 0 auto;
	padding: 0;
	overflow: auto;
	box-sizing: border-box;
}
div.inner-contents {
	padding: 40px 0 60px;
}
div.version-info {
	line-height: 30px;
	font-family: "Segoe UI","Yu Gothic UI","Meiryo UI","MS PGothic","Helvetica Neue","Hiragino Kaku Gothic Pro",sans-serif;
	font-size: 13px;
	text-align: center;
}
div.publish, div.working {
	margin-bottom: 20px;
}
p.title {
	margin-bottom: 8px;
}
p.title span {
	display: inline-block;
	border-bottom: 2px solid #777;
	line-height: 18px;
	padding: 0 10px;
}
p.version-name {
	font-weight: bold;
	font-size: 15px;
}
p.caution, span.caution {
	color: #f00;
}
p.message img {
	vertical-align: -6px;
	margin-right: 6px;
}
/* button */
span.version-button {
	display: inline-block;
	padding: 10px 2px;
	line-height: 17px;
	background-color: #205380;
	color: #fff;
	width: 200px;
	overflow: visible;
	vertical-align: 10%;
	cursor: pointer;
	border: none;
}
span.version-button:hover {
	background-color: #306390;
}
span.version-button img {
	vertical-align: -8px;
	margin-right: 8px;
}
input.register-button {
	padding: 10px 0;
	line-height: 17px;
	background: url(../images/common/right_arrow_white.png) 95% center no-repeat #205380;
	color: #fff;
	width: 150px;
	overflow: visible;
	vertical-align: 10%;
	cursor: pointer;
	border: none;
}
input.register-button:hover {
	background-color: #306390;
}

input.back-button {
	padding: 10px 0;
	line-height: 17px;
	background: url(../images/common/left_arrow_white.png) 5% center no-repeat #205380;
	color: #fff;
	width: 150px;
	overflow: visible;
	vertical-align: 10%;
	cursor: pointer;
	border: none;
}
input.back-button:hover {
	background-color: #306390;
}

/* result message */
span.version {
	margin-right: 5px;
}
span.date-time {
	margin-right: 5px;
}
