@charset "UTF-8";

html, body {
	background-color: #444;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 15px;
	color: #fff;
	background-color: #555;
	border-top: 1px solid #5e5e5e;
	line-height: 33px;
}
h2 span.accent {
	display: block;
	float: left;
	margin: 4px 8px 0 5px;
	width:2px;
	height:20px;
	background: #555;
	border-top: 1px solid #606060;
	border-left: 1px solid #606060;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
}
h2 span {
	font-size: 11px;
	font-weight: normal;
	margin-left: 10px;
	line-height: 24px;
}
div.header {
	clear: both;
	margin: 0;
	background-color: #3a3a3a;
	height: 10px;
}
div.footer {
	clear: both;
	margin: 0;
	background-color: #3a3a3a;
	border-bottom: 1px solid #333;
	height: 10px;
}
iframe.tree {
	display:block;
	float:left;
	margin: 0;
	width: 15%;
	border: none;
}
div.splitter {
	float:left;
	margin: 0;
	width: 8px;
	background: #3a3a3a url(../images/common/splitter.gif) no-repeat 1px center;
	visibility: hidden;
}
iframe.form {
	display:block;
	float:left;
	margin: 0;
	border: none;
}
span.message {
	color: #204030;
}
